body {
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default value) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  height: 100vh;
  padding: 0;
  margin: 0;
}

.centrado {
  background: salmon;
  width: 300px;
  margin: 5px;
  text-align: center;
}


